@model HIS_PT.Areas.Master.ViewModels.PhysioExamViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="width: 96%;">
    <div class="row top5 default-color " style="padding: 10px;">
        <header class="header-uppercase">physiotherapy examination</header>
    </div>

    <div class="row top5 default-color">
        <div class="col-md-offset-1 col-md-10 top10">
            <label class="top5 col-md-1 label reg-label">Tab Name</label>
            <div class="col-md-3">
                <select class="form-control select2"
                    data-bind="options:$root.PhysioTabs, optionsValue:'Id',optionsText:'TabName', value:$root.SelectedPhysioTab, 
                                                   select2:{placeholder: 'Select Examination Tab', allowClear: true}">
                </select>
            </div>

        </div>
        <div class="col-md-offset-1 col-md-10 top10 background-navyblue" style="padding:10px; margin-bottom:10px;">
          
            <div id="jstree" class="default-color" data-bind="jstree:{ data: JSTree.treeData }, visible: $.trim($root.SearchIcdInput()) == ''" style="height: 440px; overflow: auto;">
            </div>

        </div>
    </div>

</div>

<input id="urlAcions" class="hidden" 
    data-getjstreedata ="@Url.Action("GetJSTree")" />

@section Scripts{

    <script type="text/javascript" src="~/Scripts/Master/PhycioExam.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            var data = @Html.Raw(Json.Encode(this.Model));
            var viewModel = new PhycioExams(data);
            ko.applyBindings(viewModel);
        });
    </script>
}
