

<div id="PrintPreview" class="modal fade" tabindex="-1">
    <div class="modal-dialog" style="width: 90%;height:90%; z-index: 1; top: -50px; ">
        <div class="modal-content">
            <div class="modal-header">
             <header>Print Preview</header>
                <button id="SClose" class="btn-danger inverse btn btn-sm pull-right no-border" data-dismiss="modal" style="margin-top: -25px;">
                    <span class="glyphicon glyphicon-off"></span>Close
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                 <div id="framecontainer" class="col-md-12"></div>
                </div>
            </div>

        </div>
    </div>


</div>


 <script type="text/javascript" src="~/Scripts/Report/PrintPreview.js">
 </script>


