@model HIS_PT.Areas.Report.ViewModels.ProcedureReportViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="width: 96%;">
    <div class="row top5 default-color " style="padding: 10px;">
        <header class="header-uppercase col-md-8">Procedure Report</header>

         <button class=" btn btn-default btn-sm pull-right" style="margin-left:5px;" data-bind="click:$root.Clear">
                    <span class="glyphicon glyphicon-erase"></span> Clear
         </button>

        <button class=" btn btn-primary btn-sm pull-right" data-bind="click:$root.PrintPreview">
                    <span class="glyphicon glyphicon-print"></span> Generate
        </button>

        
    </div>

    <div class="row top5 default-color">

        <div class="col-md-12 top15">

            <div class="col-md-5 top5">
                <div class="col-md-3 radio">
                    <label class="col-md-2 withhover">
                        <input type="radio" name="optradio" data-bind="value:1, checked:$root.PatientType">IP</label>
                    <label class="col-md-2 withhover" style="margin-left: 15px;">
                        <input type="radio" name="optradio" data-bind="value:0, checked:$root.PatientType">OP</label>
                </div>
                <div class="col-md-6">

                      <!-- ko if: $root.PatientType() ==1 -->
                    <select class="form-control select2"
                        data-bind="options:$root.Inpatients, optionsValue:'RegistrationNo',optionsText:'IACRegno', value:$root.SelectedRegNo, select2:{placeholder: 'Select Inpatient', allowClear: true}">
                    </select>
                      <!-- /ko -->
                    <!-- ko if: $root.PatientType() ==0 -->
                     <input class="form-control select2" data-bind="value:$root.SelectedRegNo,
                                 select2: {minimumInputLength: 2, query:$root.SearchPin, placeholder:'Search Pin', allowClear: true}" />
                      <!-- /ko -->

                </div>
               <div class="col-md-12"></div>
                <div class="col-md-9"  style="margin-bottom:10px;">
                     <!-- ko if: $root.ReportOption() ==1 -->
                    <select class="form-control select2"
                        data-bind="options:$root.Procedures, optionsValue:'Id',optionsText:'Text', value:$root.SelectedProcedure, select2:{placeholder: 'Select Procedure', allowClear: true}">
                    </select>
                   <!-- /ko -->
                    <!-- ko if: $root.ReportOption() ==2 -->
                     <select class="form-control select2"
                        data-bind="options:$root.Therapist, optionsValue:'Id',optionsText:'Text', value:$root.SelectedTherapist,select2:{placeholder: 'Select Therapist', allowClear: true}">
                    </select>
                      <!-- /ko -->

                </div>
               
            </div>

            <div class="col-md-6 top5">
                <div class="col-md-12 radio">
                    <label class="col-md-3 withhover">
                        <input type="radio" name="optradio2" data-bind="value:0, checked:$root.ReportOption">Patient Wise</label>
                    <label class="col-md-3 withhover" style="margin-left: 15px;">
                        <input type="radio" name="optradio2" data-bind="value:1, checked:$root.ReportOption">Procedure Wise</label>
                    <label class="col-md-3 withhover" style="margin-left: 15px;">
                        <input type="radio" name="optradio2" data-bind="value:2, checked:$root.ReportOption">Therapist Wise</label>
                </div>
                <div class="col-md-12" style="margin-bottom:10px;">
                    <label class="top5 col-md-2 label reg-label">From Date</label>
                    <div class="col-md-4">
                        <div class="inner-addon right-addon">
                            <i class="glyphicon glyphicon-calendar" style="z-index: 2;"></i>
                            <input class="form-control select2" data-bind="datetimepicker:$root.FromDate,
                                                 datepickerOptions:{format: 'DD-MMM-YYYY'}" />
                        </div>
                    </div>
                    <label class="top5 col-md-2 label reg-label">To Date</label>
                    <div class="col-md-4">
                        <div class="inner-addon right-addon">
                            <i class="glyphicon glyphicon-calendar" style="z-index: 2;"></i>
                            <input class="form-control select2" data-bind="datetimepicker:$root.ToDate,
                                                 datepickerOptions:{format: 'DD-MMM-YYYY'}" />
                        </div>

                    </div>
                </div>
            </div>

            <div id="pdfwrapper" class="col-md-12" data-bind="style:{'height':$root.ReportHeight,background:'gray','margin-bottom':'10px'}">
              
            </div>

        </div>

    </div>

    <div class="row default-color"></div>
</div>

<input id="urlAcions" class="hidden" 
    data-searchpatient ="@Url.Action("searchPatientPin")"
    data-printpreview ="@Url.Action("PrintPreview")"
     />



@section Scripts{

    <script type="text/javascript" src="~/Scripts/Report/ProcedureReport.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            var data = @Html.Raw(Json.Encode(this.Model));
            var viewModel = new Report(data);
            ko.applyBindings(viewModel);
        });
    </script>
}

